header {
    padding: 50px;
    text-align: center;
}

#new {
    margin: 30px;
}

.character {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.name {
    border: 1px solid black;
    text-align: center;
}

#modal {
    display:none;
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#modal-box {
    background-color: red;
    width: 50vw;
    height: 50vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#form-new-char {
    display: none;
}

.form-group {
    display: flex;
    flex-direction: column;
}